@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

.addModalContainer {
  background-color: rgba(0, 0, 0, 0.5);
}

.addModalForm {
  background-color: #ffffff;
  padding: 10px;
  border-radius: 12px;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.inputContainer > .form-control {
  width: 100%;
}

.inputRow {
  flex: 1 1 1;
}

.title {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
}

.action-btn {
  background-color: #214440;
  color: white;
  padding: 10px 14px;
  border-radius: 8px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.action-btn:hover {
  background-color: #1b3b36; /* Darken the button on hover */
  transform: scale(1.05); /* Slightly scale up on hover */
}

.form-label {
  font-weight: 600;
  margin-bottom: 3px;
  color: black;
  font-family: Poppins, "sans-serif";
}

.form-control {
  padding: 5px 10px;
  outline: none;
  border-radius: 5px;
  border: 1px solid gray;
  transition: all 0.3s ease, transform 0.2s ease;
  font-family: Montserrat, "sans-serif";
}

.form-control:focus {
  border-color: #214440; /* Change border color on focus */
  padding-left: 15px;
  box-shadow: 0 0 3px rgb(16, 104, 48);
}

table {
  width: 100%;
  border-collapse: collapse;
}

table th {
  min-width: 150px;
  font-family: Poppins, "sans-serif";
  font-weight: 300;
  color: white;
  padding: 10px 10px;
  position: relative;
  text-align: center;
}

table tr {
  border-bottom: 1px solid rgb(209, 206, 206);
}

table td {
  font-family: Poppins, "sans-serif";
  font-size: 0.8rem;
  padding: 5px 15px;
  text-align: center;
  position: relative;
}

table th::after,
table td::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 1px;
  height: 20px;
  background-color: #cbc8c8be;
}

/* Remove the border from the last cell and header in each row */
table th:last-child::after,
table td:last-child::after {
  display: none;
}

/* Add rounded corners to the first and last header */
table th:first-child {
  border-top-left-radius: 15px;
}

table th:last-child {
  border-top-right-radius: 15px;
}

.id {
  min-width: 15px;
}
