@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

*{
font-family: Poppins, 'sans-serif';
}

.loader-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden; /* To prevent scrollbars if the GIF is slightly larger */
}


.loader-container img {
  width: 90%; 
  height: 100%;
  object-fit: cover; /* Ensures the image covers the container without distorting its aspect ratio */
}
/* HTML: <div class="loader-1"></div> */
.loader-1 {
    width: fit-content;
    font-weight: bold;
    font-size: 30px;
    color: #0000;
    background: linear-gradient(90deg,#214440 calc(50% + 0.5ch),#000 0) right/calc(200% + 1ch) 100%;
    -webkit-background-clip: text;
            background-clip: text;
    animation: l7 2.5s infinite steps(11);
  }
  .loader-1:before {
    content:"Loading..."
  }
  @keyframes l7 {to{background-position: left}}


/* HTML: <div class="loader-2"></div> */
.loader-2 {
    width: 40px;
    height: 45px;
    position: relative;
  }
  .loader-2:after {
    content: "";
    position: absolute;
    inset: 0;
    padding: 3px 5px;
    border-top: 1px solid #bbb6aa;
    border-bottom: 4px solid #bbb6aa;
    background: 
      linear-gradient(#214440 0 0) bottom no-repeat content-box, 
      #e4e0d7;
    mix-blend-mode: darken;
    animation: l1 2.5s infinite linear;
  }
  .loader-2:before {
    content: "";
    position: absolute;
    inset: -18px calc(50% - 2px) 8px;
    background: #eb6b3e;   
    transform-origin: bottom;
    transform: rotate(8deg);
  }
  @keyframes l1 {
   0%   {background-size: 100% 100%}
   100% {background-size: 100% 5%}
  }