@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --coffee-green: #214440;
  --text-gray: #4e4d4d;
  --text-green: #214440;
  --bg-color: rgb(251, 251, 251);
  --inter-font: "Inter", sans-serif;
}

* {
  text-decoration: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  // letter-spacing: 0.6px;
}

.wrapper {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 2rem 0.8rem 6rem 0.8rem;
  overflow: hidden;
}

.custom-toast {
  max-width: 500px !important;
}

.text-gray {
  color: var(--text-gray);
}

.text-green {
  color: var(--text-green);
}

.bg-green {
  background-color: var(--coffee-green);
}

.title {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  color: var(--coffee-green);
}
/* LoginForm */

.loginpage {
  background-color: #0a2320;
}

.eye_icon {
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  right: 10px;
  cursor: pointer;
}

// Sidebar //

.sidebar {
  background-color: var(--coffee-green);
  transition: 0.6s ease all;
  position: relative;

.menu-icon{
  position: absolute;
}

  .profile-img {
    transition: 0.3s ease;
    scale: 1;
  }
  .dropdown {
    transition: 0.3s ease;
  }

  .links a {
    display: flex;
    font-family: Poppins, "sans-serif";
    align-items: center;
    gap: 0.4rem;
    transition: 0.2s ease;
    font-weight: 500;
  }

  .links a:hover {
    background-color: gray;
  }

  .dropdown-link {
    transition: 0.3s ease;

    &:hover {
      background-color: darkgray !important;
    }
  }

  .logout {
    transition: 0.1s ease;
    font-weight: 600;
  }
  .logout:hover {
    background-color: red;
  }
}

.active {
  background-color: rgb(88, 88, 88) !important;
}

// Dashboard Header Color  //
.header {
  background-color: var(--coffee-green);
}

/* table header */
.cvdizt {
  padding: 0 !important;
}

.search-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  color: var(--text-gray);
}

/* Table header */
.blIonk{
  background-color: var(--coffee-green)!important;
  color: white;
  font-weight: bold !important;
  font-size: 0.9rem !important;
}

.hsGprm {
  background-color: var(--coffee-green)!important;
  color: white;
  font-weight: bold !important;
  font-size: 0.9rem !important;
}

/* table row */
.dFsSgh:nth-child(1) {
  max-width: 70px !important;
  min-width: 30px !important;
}

.dFsSgh:nth-child(2) {
  min-width: 200px !important;
}

.dFsSgh:nth-child(4) {
  min-width: 200px !important;
}

.dFsSgh:nth-child(6) {
  min-width: 200px !important;
}

.dFsSgh:nth-child(8) {
  min-width: 200px !important;
}

.dFsSgh:last-child {
  min-width: 200px !important;
}

.form-group {
  padding: 1rem;
  display: flex;
  flex-direction: column;

  input {
    padding: 5px 10px;
    outline: none;
    border: 1px solid lightgray;
    border-radius: 5px;
  }

  label {
    font-weight: 600;
    font-size: 0.9rem;
    margin: 5px;
    font-family: var(--inter-font);
  }
}

//Sales Report

.sales-report {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  background-color: var(--bg-color);

  .total-card {
    overflow: hidden;
    transition: 0.2s ease;
    &:hover {
      scale: 1.05;
    }
  }

  .chart-container {
    h1 {
      font-family: var(--inter-font);
    }
  }

  // Sales Tables

  .table {

    h3 {
      position: relative;
    }

    h3:after {
      content: "";
      position: absolute;
      width: 0;
      height: 4px;
      bottom: -5px;
      left: 0;
      background-color: var(--coffee-green);
      transition: width 0.5s ease;
    }

    &:hover h3:after {
      width: 100%;
    }
  }
}

.balance {
  padding: 1rem 0.5rem;
  background-color: var(--coffee-green);
  color: white;
  font-weight: 700;
  border: 1px solid black;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: 0.2s ease;
  justify-content: center;
  border-radius: 1rem;
  cursor: pointer;

  &:hover {
    scale: 1.05;
  }
}

@media (min-width: 768px) {
  .balance {
    padding: 1rem 1rem;
  }

  .wrapper {
    padding: 2rem 2rem 6rem 2rem;
  }
}
